.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: black;
    border-top: 5px solid #F1981A;
}

.btn {
    border-radius: 10px;
    color: #EDEFEA;
    background-color: #F1981A;
    border-color: black;
    padding: 5px 10px;
}